.editor {
    align-items: flex-start;
    display: flex;
}

.grid {
    margin: 10px;
    white-space: nowrap;

    .grid-row {
        height: 52px;
    }

    .grid-cell {
        border: 1px solid $black;
        display: inline-block;
        height: 50px;
        position: relative;
        vertical-align: top;
        width: 50px;

        &:first-child {
            border-left: 2px solid $black;
        }

        &:last-child {
            border-right: 2px solid $black;
        }
    }

    .grid-row:first-child {
        .grid-cell {
            border-top: 2px solid $black;
            margin-top: -1px;
            vertical-align: bottom;
        }
    }

    .grid-row:last-child {
        .grid-cell {
            border-bottom: 2px solid $black;
        }
    }
}

$border-edit-border: 1px solid #ff0000;

.border-edit {
    display: none;
}

.border-mode {
    .border-edit {
        border: 0;
        display: block;
        position: absolute;
    }

    .border-edit-0,
    .border-edit-2 {
        height: 5px;
        width: 100%;
    }

    .border-edit-1,
    .border-edit-3 {
        height: 100%;
        width: 5px;
    }

    .border-edit-0 {
        border-bottom: $border-edit-border;
        left: 0;
        top: 0;
    }

    .border-edit-1 {
        border-left: $border-edit-border;
        right: 0;
        top: 0;
    }

    .border-edit-2 {
        border-top: $border-edit-border;
        bottom: 0;
        left: 0;
    }

    .border-edit-3 {
        border-right: $border-edit-border;
        left: 0;
        top: 0;
    }
}
