.editor {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.grid {
    margin: 0 auto;
    white-space: nowrap;

    .grid-row {
        height: 50px;
    }

    .grid-cell {
        border-left: 1px solid $black;
        border-top: 1px solid $black;
        display: inline-block;
        height: 50px;
        width: 50px;

        &:last-child {
            border-right: 1px solid $black;
        }
    }

    .grid-row:last-child {
        .grid-cell {
            border-bottom: 1px solid $black;
        }
    }
}
