.editor {
    @include no-select;
    align-items: flex-start;
    display: flex;
}

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    white-space: nowrap;

    .grid-row {
        display: flex;
        flex-direction: row;
        height: $cell-width + $border-width * 2;
    }

    .grid-cell {
        border: $border-width solid $black;
        display: inline-block;
        height: $cell-width;
        position: relative;
        vertical-align: top;
        width: $cell-width;

        &:first-child {
            border-left: $border-width * 2 solid $black;
        }

        &:last-child {
            border-right: $border-width * 2 solid $black;
        }
    }

    .grid-row:first-child {
        .grid-cell {
            border-top: $border-width * 2 solid $black;
            margin-top: -$border-width;
            vertical-align: bottom;
        }
    }

    .grid-row:last-child {
        .grid-cell {
            border-bottom: $border-width * 2 solid $black;
        }
    }
}

$border-edit-border: $border-width solid $active-edit;

.border-edit {
    display: none;
}

.single-border-mode {
    .border-edit {
        border: 0;
        display: block;
        position: absolute;
        z-index: 20;
    }

    .border-edit-0,
    .border-edit-2 {
        height: $cell-width / 6;
        width: 100%;
    }

    .border-edit-1,
    .border-edit-3 {
        height: 100%;
        width: $cell-width / 6;
    }

    .border-edit-0 {
        border-bottom: $border-edit-border;
        left: 0;
        top: 0;
    }

    .border-edit-1 {
        border-left: $border-edit-border;
        right: 0;
        top: 0;
    }

    .border-edit-2 {
        border-top: $border-edit-border;
        bottom: 0;
        left: 0;
    }

    .border-edit-3 {
        border-right: $border-edit-border;
        left: 0;
        top: 0;
    }
}

.cell-content {
    box-sizing: border-box;
    height: 30%;
    margin: 1.5%;
    position: absolute;
    text-align: center;
    width: 30%;
}

.cell-content-main {
    border: 0;
    font-size: .65 * $cell-width;
    height: 90%;
    margin: 5%;
    padding-top: 5px;
    width: 90%;
    z-index: 1;
}

@for $i from 0 through 8 {
    .cell-content-#{$i} {
        left: 33% * ($i % 3);
        top: 33% * floor($i / 3);
        z-index: 5;
    }
}

.mini-content-style-mode,
.mini-content-mode {
    @for $i from 0 through 8 {
        .cell-content-#{$i} {
            border: 1px solid $inactive-edit;
            z-index: 10;

            &.active {
                border-color: $active-edit;
            }
        }
    }
}

.main-content-style-mode,
.main-content-mode {
    .cell-content-main {
        border: 1px solid $inactive-edit;
        z-index: 10;

        &.active {
            border-color: $active-edit;
        }
    }
}
