.tools {
    @include no-select;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.tool-selector {
    @include no-select;
    display: flex;
    flex-direction: column;
    max-width: 200px;

    .tool-icon {
        border: 1px solid $black;
        display: inline-block;
        font-size: 20px;
        height: 27px;
        padding-top: 3px;
        text-align: center;
        width: 30px;
        vertical-align: top;

        &.active {
            background-color: $active-tool;
        }
    }

    .tool-group {
        margin-top: 10px;

        .tool-group-header {
            border: 1px solid $black;
            border-radius: 3px;
            font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
            font-size: 20px;
            padding: 5px;

            .material-icons {
                margin-right: 5px;
                vertical-align: bottom;
            }
        }
    }
}

.material-icon-bold i {
    font-weight: bold;
}

.mini-icon i {
    font-size: 0.75em;
    padding-top: 5px;
}
